p {
    font-size: large;
}

table {
    border: white;
    margin-bottom: 10px;
}

th {
    background-color: dimgray;
    color: white;
    text-align: left;
    vertical-align: top;
    padding: 10px;
}

td {
    background-color: lightgrey;
    padding: 10px;
}

.bggray {
    background-color: gray;
}

span.bgred {
    background-color: red;
    font-size: 0.7em;
    border-radius: 25%;
}

span.small {
    font-size: 0.7em;
}

button {
    height: 2.5em;
    width: 12em;
}